.project-frame-container {
    position: relative;
    width: 100%;
}

.project-container {
    top: 25%;
    width: 60%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
    padding: 16px;
}


.project-card {
    position: relative;
    width: 100%;
    height: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
    border: 1px solid #ddd;
    cursor: pointer;
}

.project-card img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.project-card:hover img {
    filter: blur(4px);
    /* Blur effect on hover */
}

.project-card:hover {
    transform: scale(1.05);
    /* Slight zoom effect on hover */
}

.project-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Dark overlay */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.project-card:hover::before {
    opacity: 1;
}

.project-card-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    opacity: 0;
    background: rgba(39, 38, 38, 0.5);
}

.project-card-content p {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    white-space: pre-line;
}

.project-card:hover p {
    opacity: 0.9;
}


.project-card-content h2 {
    position: absolute;
    margin: 0;
    bottom: 60%;
    /* opacity: 0; */
    transition: opacity 0.3s ease;
    z-index: 2;
}

.project-card:hover .project-card-content {
    opacity: 1;
    /* Show text overlay on hover */
}