.piano-frame {
    position: relative;
    width: 100%;
    z-index: 0;
    align-items: center;
    color: black;
}

.title {
    position: absolute;
    width: 62%;
    text-align: center;
}

.full-size {
    position: inherit;
    width: 100%;
    height: 100%;
    /* z-index: inherit; */
}

.piano-holder {
    position: relative;
    z-index: 0;
    transition: opacity 1.5s ease, backdrop-filter 0.5s ease;
}

.hidden {
    opacity: 0;
    /* Fade out */
    backdrop-filter: blur(10px);
    z-index: 0;
    /* Apply blur effect */
}