.sticky-section {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(240, 240, 240, 0.8);
    transition: opacity 0.5s ease, backdrop-filter 0.5s ease, visibility 0.5s;
    opacity: 0.5;
    visibility: visible;
    backdrop-filter: blur(0px);
    z-index: 10;
}

.sticky-section:hover {
    opacity: 1.0;
}

.section-item {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #ffffff00;
    z-index: inherit;
    transition: opacity 0.5s ease, backdrop-filter 0.5s ease, visibility 0.5s;
}

.section-item:hover {
    background-color: #ffffff00;
}

.section-item a {
    text-decoration: none;
    color: #333;
    display: block;
    width: 100%;
}

.sticky {
    position: fixed;
    /* Keep it fixed when sticky */
}

.hidden {
    opacity: 0;
    backdrop-filter: blur(10px);
    visibility: hidden;
    z-index: 0;
    animation: hideElement 0s 0.5s forwards;
    /* Delays hiding */
}